@charset "UTF-8";

//reset

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, footer, header, nav, section, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

body { line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

ol, ul { list-style: none; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; max-width: 100%; }

a { display: block; text-decoration: none; }

.content-wrap {
	margin: 0 auto;
	max-width: 1440px;
}

select {
	background-color: #fff;
}